body {
    margin: 3em auto;
    width: 70%;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 3em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
input {
    padding: 6px;
    border-radius: 24px;
}
select {
    padding: 6px;
    font-size: 14px;
}
